@font-face{
	src: url(Roboto-Regular.ttf);
	font-family: roboto;
}
@font-face{
	src: url(Roboto-Thin.ttf);
	font-family: roboto-light;
}
.bm-content{
	border-radius: 0;
	box-shadow: none;
	border: 1px solid #999;
	font-family: roboto;
}
.bm-header{

}
.bm-body{
	text-align: center;
	border: none;
}
.bm-modal .btn-default{
	border-radius: 0;
	width: 100px;
	height: 35px;
}
.bm-modal .btn-primary{
	background-color: #6610f2;
	border-radius: 0;
	border:none;
	width: 100px;
	height: 35px;
	box-shadow: none;
	transition: 0.3s;
}
.bm-modal .btn-primary:focus{
	outline: none;
}
.bm-modal .btn-primary:hover{
	background-color: #593196;
}
.bm-footer{
	padding: 5px 7px 5px 7px;
	border:none;
}
.bm-input,.bm-email,.bm-password,.bm-number{
	border-radius: 0;
	box-shadow: none;
	border: none;
	border-bottom: 1px solid #eee;
	padding: 7px 0;
	transition:all 5s;
}
.bm-input:focus,.bm-email:focus,.bm-password:focus,.bm-number:focus{
	box-shadow: none;
	border: none;
}
.bm-input ~ .focus-border {
	position: absolute;
	bottom: 3;
	left: 0;
	width: 0;
	height: 2px;
	background-color: #593196;
	transition: 0.4s;
}
.bm-input:focus ~ .focus-border {
	width: 100%;
	transition: 0.4s;
}
.bm-modal button.close{
	font-family: roboto-light;
	font-size: 25px !important;
    	font-weight: lighter !important;
    	color: #000 !important;
}